<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Fname"
          label-for="fname"
          :invalid-feedback="invalidFeedbackFname"
          valid-feedback="สำเร็จ"
          :state="stateFname"
        >
          <b-form-input id="fname" v-model="form.fname" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Lname"
          label-for="lname"
          :invalid-feedback="invalidFeedbackLname"
          valid-feedback="สำเร็จ"
          :state="stateLname"
        >
          <b-form-input id="lname" v-model="form.lname" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Idcard"
          label-for="idcard"
          :invalid-feedback="invalidFeedbackIdcard"
          valid-feedback="สำเร็จ"
          :state="stateIdcard"
        >
          <b-form-input id="idcard" v-model="form.idcard" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          valid-feedback="สำเร็จ"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Age"
          label-for="age"
          :invalid-feedback="invalidFeedbackAge"
          valid-feedback="สำเร็จ"
          :state="stateAge"
        >
          <b-form-input id="age" v-model="form.age" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Address"
          label-for="address"
          :invalid-feedback="invalidFeedbackAddress"
          valid-feedback="สำเร็จ"
          :state="stateAddress"
        >
          <b-form-input id="address" v-model="form.address" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Tel"
          label-for="tel"
          :invalid-feedback="invalidFeedbackTel"
          valid-feedback="สำเร็จ"
          :state="stateTel"
        >
          <b-form-input id="tel" v-model="form.tel" required></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
import jobseekerService from './JobseekerService.js'
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        fname: '',
        lname: '',
        idcard: '',
        gender: null,
        age: '',
        address: '',
        tel: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'ผู้ชาย' },
        { value: 'F', text: 'ผู้หญิง' }
      ],
      userList: [],
      fields: ['id', 'fname', 'lname', 'idcard', 'gender', 'age', 'address', 'tel', 'operation']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add New user ')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.fname + ' ' + user.lname + 'หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            // userService.deleteUser(this.form)
            this.getJobseekers()
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        fname: '',
        lname: '',
        idcard: '',
        gender: null,
        age: '',
        address: '',
        tel: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.stateFname === false || this.stateFname === false || this.stateIdcard === false ||
          this.stateGender === false || this.stateAge === false || this.stateAddress === false || this.stateTel === false) {
        return
      }
      if (this.form.id > 0) {
        // this.updateUser(this.form)
        jobseekerService.updateUser(this.form)
        this.getJobseekers()
      } else {
        // this.addUser(this.form)
        // userService.addUser(this.form)
        axios.post('http://localhost:3000/jobseeker', this.form).then(res => {
          console.log(res)
          this.getJobseekers()
        }).catch(err => {
          console.log(err)
        })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getJobseekers () {
      // this.userList = userService.getUsers()
      axios.get('http://localhost:3000/jobseeker').then(res => {
        console.log(res)
        this.userList = res.data
      }).catch(err => {
        console.log(err)
      })
    }
  },
  computed: {
    stateFname () {
      return this.form.fname.length >= 2
    },
    invalidFeedbackFname () {
      if (this.form.fname.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่ชื่อ'
    },
    stateLname () {
      return this.form.lname.length >= 2
    },
    invalidFeedbackLname () {
      if (this.form.lname.length > 0) {
        return 'นามสกุลต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      }
      return 'ต้องใส่นามสกุล'
    },
    stateIdcard () {
      return this.form.idcard.length === 13
    },
    invalidFeedbackIdcard () {
      if (this.form.idcard.length > 0) {
        return 'เลขบัตรประชาชนต้องมี 13 ตัว'
      }
      return 'ต้องใส่เลขบัตรประชาชน'
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      }
      return 'กรุณาเลือกเพศของคุณ'
    },
    stateAge () {
      return this.form.age >= 15
    },
    invalidFeedbackAge () {
      if (this.form.age > 0) {
        return 'ต้องอายุ 15 ปีขึ้นไป'
      }
      return 'ต้องใส่อายุ'
    },
    stateAddress () {
      return this.form.address.length >= 5
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 0) {
        return 'ที่อยู่ใส่อย่างน้อย 5 ตัวอักษร'
      }
      return 'ต้องใส่ที่อยู่'
    },
    stateTel () {
      return this.form.tel.length === 10
    },
    invalidFeedbackTel () {
      if (this.form.tel.length > 0) {
        return 'เบอร์โทรศัพท์ต้องมี 10 ตัว'
      }
      return 'ต้องใส่เบอร์โทรศัพท์'
    }
  },
  mounted () {
    console.log('Vue component is mounted')
    this.getJobseekers()
  }
}
</script>
